nn.MaxPool2d(kernel_size = {{kernel_size}}, stride={{stride}} {%- if padding != 0%}, padding = {{padding}}{%endif%} {%- if dilation != 1%}, dilation = {{dilation}}{%endif%} {%- if return_indices != 0%}, return_indices= {{return_indices}} {%endif%} {%- if ceil_mode != 0%}, ceil_mode= {{ceil_mode}}{%endif%})