nn.Conv2d(in_channels = {{in_channels}}, out_channels = {{out_channels}}, kernel_size = {{kernel_size}} {%- if stride != 1 %}, stride = {{stride}}{%endif%} {%- if padding != 0 %}, padding = {{padding}}{%endif%} {%- if groups != 1 %}, groups = {{groups}}{%endif%} {%- if padding_mode != 'zeros' %}, padding_mode = {{padding_mode}}{%endif%} {%- if not bias %}, bias = {{bias}}{%endif%})