
self.{{ block }} = nn.Sequential(
    {% for layer, shape in layer_shapes %}
        {% for l in layer.split("\n")%}
            {{- l }},         
        # shape = ({{ shape|join(", ")}})
        {% endfor %}
    
    {% endfor %}
)